USE [master]
GO
/****** Object:  Database [Черноусова_22]    Script Date: 26.11.2025 14:27:45 ******/
CREATE DATABASE [Черноусова_22]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Черноусова_22', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\Черноусова_22.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Черноусова_22_log', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\Черноусова_22_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Черноусова_22].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Черноусова_22]
GO
/****** Object:  Table [dbo].[History]    Script Date: 26.11.2025 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[logn] [nvarchar](50) NULL,
	[dat] [nvarchar](50) NULL,
	[succes] [nvarchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type_import]    Script Date: 26.11.2025 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type_import](
	[Material_type] [nvarchar](50) NOT NULL,
	[Percent_of_defects] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Material_type_import] PRIMARY KEY CLUSTERED 
(
	[Material_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials_import]    Script Date: 26.11.2025 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials_import](
	[Material_name] [nvarchar](100) NOT NULL,
	[Material_type] [nvarchar](50) NOT NULL,
	[Price_unit_material] [decimal](18, 10) NOT NULL,
	[Quantity_in_stock] [smallint] NOT NULL,
	[Minimum_quantity] [smallint] NOT NULL,
	[Quantity_in_package] [tinyint] NOT NULL,
	[Unit_of_measurement] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Materials_import] PRIMARY KEY CLUSTERED 
(
	[Material_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_materials_import]    Script Date: 26.11.2025 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_materials_import](
	[Products] [nvarchar](100) NOT NULL,
	[Material_name] [nvarchar](100) NOT NULL,
	[Required_amount_of_material] [decimal](18, 10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type_import]    Script Date: 26.11.2025 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type_import](
	[Type_of_products] [nvarchar](50) NOT NULL,
	[Product_type_coefficient] [decimal](18, 10) NOT NULL,
 CONSTRAINT [PK_Product_type_import] PRIMARY KEY CLUSTERED 
(
	[Type_of_products] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_import]    Script Date: 26.11.2025 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_import](
	[Product_type] [nvarchar](50) NOT NULL,
	[Product_name] [nvarchar](100) NOT NULL,
	[Article] [int] NOT NULL,
	[Minimum_price_for_partner] [decimal](18, 10) NOT NULL,
	[Roll_width_m] [decimal](18, 10) NOT NULL,
 CONSTRAINT [PK_Products_import] PRIMARY KEY CLUSTERED 
(
	[Product_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 26.11.2025 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[logn] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
	[FIO] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[History] ([logn], [dat], [succes]) VALUES (N'admin', N'24.11.2025 10:53:34', N'нет')
INSERT [dbo].[History] ([logn], [dat], [succes]) VALUES (N'admin', N'24.11.2025 11:00:40', N'да')
INSERT [dbo].[History] ([logn], [dat], [succes]) VALUES (N'guest', N'24.11.2025 11:09:49', N'да')
GO
INSERT [dbo].[Material_type_import] ([Material_type], [Percent_of_defects]) VALUES (N'Бумага', N'0.70%')
INSERT [dbo].[Material_type_import] ([Material_type], [Percent_of_defects]) VALUES (N'Дисперсия', N'0.20%')
INSERT [dbo].[Material_type_import] ([Material_type], [Percent_of_defects]) VALUES (N'Клей', N'0.15%')
GO
INSERT [dbo].[Materials_import] ([Material_name], [Material_type], [Price_unit_material], [Quantity_in_stock], [Minimum_quantity], [Quantity_in_package], [Unit_of_measurement]) VALUES (N'Акрилат-винилацетатная дисперсия для производства бумаги', N'Дисперсия', CAST(15.5000000000 AS Decimal(18, 10)), 1000, 660, 220, N'л')
INSERT [dbo].[Materials_import] ([Material_name], [Material_type], [Price_unit_material], [Quantity_in_stock], [Minimum_quantity], [Quantity_in_package], [Unit_of_measurement]) VALUES (N'Акриловая дисперсия', N'Дисперсия', CAST(14.9000000000 AS Decimal(18, 10)), 1000, 880, 220, N'л')
INSERT [dbo].[Materials_import] ([Material_name], [Material_type], [Price_unit_material], [Quantity_in_stock], [Minimum_quantity], [Quantity_in_package], [Unit_of_measurement]) VALUES (N'Ассоциативный акриловый загуститель', N'Дисперсия', CAST(16.5000000000 AS Decimal(18, 10)), 400, 360, 120, N'л')
GO
INSERT [dbo].[Product_materials_import] ([Products], [Material_name], [Required_amount_of_material]) VALUES (N'Обои флизелиновые Эвелин светло-серые', N'Акрилат-винилацетатная дисперсия для производства бумаги', CAST(1.9500000000 AS Decimal(18, 10)))
INSERT [dbo].[Product_materials_import] ([Products], [Material_name], [Required_amount_of_material]) VALUES (N'Стеклообои Средняя елка белые', N'Акрилат-винилацетатная дисперсия для производства бумаги', CAST(0.2100000000 AS Decimal(18, 10)))
INSERT [dbo].[Product_materials_import] ([Products], [Material_name], [Required_amount_of_material]) VALUES (N'Фотообои Тропики 290x260 см', N'Акриловая дисперсия', CAST(1.5000000000 AS Decimal(18, 10)))
GO
INSERT [dbo].[Product_type_import] ([Type_of_products], [Product_type_coefficient]) VALUES (N'Декоративные обои', CAST(5.5000000000 AS Decimal(18, 10)))
INSERT [dbo].[Product_type_import] ([Type_of_products], [Product_type_coefficient]) VALUES (N'Обои под покраску', CAST(3.2500000000 AS Decimal(18, 10)))
INSERT [dbo].[Product_type_import] ([Type_of_products], [Product_type_coefficient]) VALUES (N'Стеклообои', CAST(2.5000000000 AS Decimal(18, 10)))
GO
INSERT [dbo].[Products_import] ([Product_type], [Product_name], [Article], [Minimum_price_for_partner], [Roll_width_m]) VALUES (N'Декоративные обои', N'Обои бумажные Полосы цвет бежевый', 17585555, CAST(13500.9600000000 AS Decimal(18, 10)), CAST(0.6800000000 AS Decimal(18, 10)))
INSERT [dbo].[Products_import] ([Product_type], [Product_name], [Article], [Minimum_price_for_partner], [Roll_width_m]) VALUES (N'Декоративные обои', N'Обои из природного материала Традиционный принт светло-коричневые', 1549922, CAST(16950.0000000000 AS Decimal(18, 10)), CAST(0.9100000000 AS Decimal(18, 10)))
INSERT [dbo].[Products_import] ([Product_type], [Product_name], [Article], [Minimum_price_for_partner], [Roll_width_m]) VALUES (N'Обои под покраску', N'Обои под покраску Рисунок Штукатурка белые', 3118827, CAST(5890.0000000000 AS Decimal(18, 10)), CAST(1.0600000000 AS Decimal(18, 10)))
GO
INSERT [dbo].[users] ([id], [logn], [pass], [FIO], [Role], [Image]) VALUES (1, N'admin', N'1234', N'Иванов Иван Иванович', N'Администратор', N'admin.png')
INSERT [dbo].[users] ([id], [logn], [pass], [FIO], [Role], [Image]) VALUES (2, N'manag', N'qwerty', N'Петров Петр Петрович', N'Менеджер', N'Manag.jpg')
INSERT [dbo].[users] ([id], [logn], [pass], [FIO], [Role], [Image]) VALUES (3, N'klient', N'11111', N'Сидоров Сидр Сидорович', N'Клиент', N'Client.jpg')
GO
ALTER TABLE [dbo].[Materials_import]  WITH CHECK ADD FOREIGN KEY([Material_type])
REFERENCES [dbo].[Material_type_import] ([Material_type])
GO
ALTER TABLE [dbo].[Product_materials_import]  WITH CHECK ADD FOREIGN KEY([Material_name])
REFERENCES [dbo].[Materials_import] ([Material_name])
GO
ALTER TABLE [dbo].[Product_materials_import]  WITH CHECK ADD FOREIGN KEY([Products])
REFERENCES [dbo].[Products_import] ([Product_name])
GO
ALTER TABLE [dbo].[Products_import]  WITH CHECK ADD FOREIGN KEY([Product_type])
REFERENCES [dbo].[Product_type_import] ([Type_of_products])
GO
USE [master]
GO
